html, body {
    margin: 0;
    font-family: verdana;
    font-size: 90%;
    min-height: 100%;
    background-color: #f5fdff;
}
a:link, a:visited {color: #006000;}
a:hover {color: #4F896C;}
a:active {
    color: #8FC9AC; 
    position: relative;
    top: 1px;
}
a {
    text-decoration: none;
    font-weight: 600;
}

header {
    background-color: #e1e9ef;
    padding: 5px;
    border-bottom: 1px solid #b8bec3;
}
#username {
    float: right;
    margin-right: 10px;
}
.headerlink {
}

.sidebar {
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #b8bec3;
    float: right;
    margin-left: 5px;
    background-color: #e1e9ef;
    text-align: center;
    padding: 5px;
}
.sidebarheader {
    border-bottom: 1px solid #b8bec3;
    font-size: larger;
}

h1 {
    text-align: center;
}

.message {
    border: 1px solid #b8bec3;
    display: table;
    padding: 2px;
    margin: 2px auto;
}
.error {
    background-color: #ffeded;
}
.notice {
    background-color: #dcfdf9;
}

.content {
    padding: 5px;
    margin: 10px;
    background-color: #FFFCF8;
    border: 1px solid #b8bec3;
}

#loginform {
    display: table;
    margin: 2px auto;
    text-align: center;
    padding: 0;
}
#loginform .button {
    margin-top: 5px;
}

fieldset {
    margin: 0;
    border-width: 0;
}

.activated {
    text-shadow: -1px 0 lightgreen, 0 1px lightgreen, 1px 0 lightgreen, 0 -1px lightgreen;
}

.deactivated {
    text-shadow: -1px 0 lightpink, 0 1px lightpink, 1px 0 lightpink, 0 -1px lightpink;
}

table {
    margin: 5px;
    text-align: center;
    background-color: #FFFCF8;
    border-collapse: collapse;
}
.toprow {
    font-weight: 600;
    background-color: #FAF4E3;
}
td {
    padding: 4px 15px 4px 15px;
    border: 1px solid #b8bec3;
}

textarea {
    width: 100%;
    color: black;
    position: relative;
    right: 3px;
}

.button {
    font-family: verdana;
    font-size: 90%;
    box-shadow: 0px 1px 0px 1px #b8bec3;
    background-color: #FAF4E3;
    border: 1px solid #b8bec3;
    display: inline-block;
    font-weight: bold;
    height: 25px;
    text-shadow: 1px 1px 0px #b8bec3;
    padding: 0 6px 0 6px;
    margin: 0px 3px 0 3px;
    vertical-align: center;
    line-height: 25px;
}
.button:hover {
    background-color: #FFFCF8;
}
.button:active {
    position: relative;
    top: 1px;
}
a.button {
    color: black;
}